html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--background);
}

/* *MAIN SECTION* */

.container {
  max-width: 320px;
  margin: 2rem;
  padding: 1.6rem;
  border-radius: 2rem;
  background-color: var(--card);
  text-align: center;
}


.container .image-card {
  width: 100%;
  border-radius: 1rem;
}


.container .title {
  padding: 2.1rem 0.8rem 0.5rem;
  font: 700 2.2rem var(--font);
  color: var(--heading);
  letter-spacing: 0.1px;
}


.container .description {
  padding: 1.2rem 1.3rem 2.4rem;
  font: 400 var(--paragraph) var(--font);
  color: var(--text);
  letter-spacing: 0.2px;
}

/* *FOOTER SECTINO* */

.attribution {
  font: 400 11px var(--font);
  text-align: center;
}
.attribution a {
  color: var(--attribution);
}
